
body {
    font-family: 'Arial', 'Verdana', sans-serif;
    background-color: white;
    color: #333; /* Default text color */
    margin: 0;
}

header {
    background-color: black;
    color: salmon; /* Header text color */
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Righteous', sans-serif;
    color: salmon;
}

a {
    color: black;
}

div {
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

hr {
    border: 1px solid salmon;
    margin: 20px 0;
}